USE [master]
GO
/****** Object:  Database [CSharksWebshop.DataModels.WebshopModel]    Script Date: 2019. 05. 29. 15:44:02 ******/
CREATE DATABASE [CSharksWebshop.DataModels.WebshopModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSharksWebshop.DataModels.WebshopModel', FILENAME = N'C:\Users\Training\CSharksWebshop.DataModels.WebshopModel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSharksWebshop.DataModels.WebshopModel_log', FILENAME = N'C:\Users\Training\CSharksWebshop.DataModels.WebshopModel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSharksWebshop.DataModels.WebshopModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSharksWebshop.DataModels.WebshopModel]
GO
USE [CSharksWebshop.DataModels.WebshopModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 29. 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 2019. 05. 29. 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[HouseNumber] [int] NOT NULL,
	[ZipCode] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketEntries]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketEntries](
	[UserID] [nvarchar](128) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.BasketEntries] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryNames]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryNames](
	[Category_Name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.CategoryNames] PRIMARY KEY CLUSTERED 
(
	[Category_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderEntries]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderEntries](
	[UserID] [nvarchar](128) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderTime] [nvarchar](128) NOT NULL,
	[ProductPrice] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderEntries] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC,
	[OrderTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderTime] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[HouseNumber] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[OrderStatus] [nvarchar](max) NULL,
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductPrice] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[InStock] [int] NOT NULL,
	[UrlFriendlyName] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](max) NULL,
	[ProductPictureURL] [nvarchar](max) NULL,
	[Category_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDatas]    Script Date: 2019. 05. 29. 15:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDatas](
	[UserID] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[HouseNumber] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserDatas] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 
GO
INSERT [dbo].[Addresses] ([ID], [UserId], [City], [Street], [HouseNumber], [ZipCode]) VALUES (1, N'bee0ae28-1d9c-4af2-bd92-d0323f9297ee', N'Bp', N'q', 10, 1114)
GO
INSERT [dbo].[Addresses] ([ID], [UserId], [City], [Street], [HouseNumber], [ZipCode]) VALUES (5, N'2b27cc53-63c1-40ee-a6ad-3a3eb0979b71', N'Zalaegerszeg', N'József Attila utca', 7, 8900)
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
INSERT [dbo].[BasketEntries] ([UserID], [ProductID], [Quantity], [OrderTime]) VALUES (N'admin@admin.hu', 4, 1, NULL)
GO
INSERT [dbo].[BasketEntries] ([UserID], [ProductID], [Quantity], [OrderTime]) VALUES (N'admin@admin.hu', 11, 1, NULL)
GO
INSERT [dbo].[BasketEntries] ([UserID], [ProductID], [Quantity], [OrderTime]) VALUES (N'dkmxe4ppkat1fkdhzfdvps02', 4, 1, NULL)
GO
INSERT [dbo].[CategoryNames] ([Category_Name]) VALUES (N'Drinks')
GO
INSERT [dbo].[CategoryNames] ([Category_Name]) VALUES (N'Food')
GO
INSERT [dbo].[CategoryNames] ([Category_Name]) VALUES (N'Games')
GO
INSERT [dbo].[OrderEntries] ([UserID], [ProductID], [Quantity], [OrderTime], [ProductPrice], [Order_ID]) VALUES (N'admin@admin.hu', 2, 2, N'2019. 05. 28. 12:58:51', 500, 48)
GO
INSERT [dbo].[OrderEntries] ([UserID], [ProductID], [Quantity], [OrderTime], [ProductPrice], [Order_ID]) VALUES (N'admin@admin.hu', 4, 3, N'2019. 05. 28. 13:19:15', 10000, 50)
GO
INSERT [dbo].[OrderEntries] ([UserID], [ProductID], [Quantity], [OrderTime], [ProductPrice], [Order_ID]) VALUES (N'admin@admin.hu', 4, 1, N'2019. 05. 28. 13:50:06', 200, 51)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 
GO
INSERT [dbo].[Orders] ([OrderTime], [UserID], [FirstName], [LastName], [PostCode], [Street], [City], [HouseNumber], [UserEmail], [OrderStatus], [OrderID]) VALUES (N'2019. 05. 28. 12:58:51', N'admin@admin.hu', N'Joe', N'Admin', N'1115', N'Bartfai', N'Bp', N'1', N'admin@admin.hu', N'DELETED', 48)
GO
INSERT [dbo].[Orders] ([OrderTime], [UserID], [FirstName], [LastName], [PostCode], [Street], [City], [HouseNumber], [UserEmail], [OrderStatus], [OrderID]) VALUES (N'2019. 05. 28. 13:11:52', N'admin@admin.hu', N'Joe', N'Admin', N'1115', N'Bartfai', N'Bp', N'1', N'admin@admin.hu', N'NOTCREATED', 49)
GO
INSERT [dbo].[Orders] ([OrderTime], [UserID], [FirstName], [LastName], [PostCode], [Street], [City], [HouseNumber], [UserEmail], [OrderStatus], [OrderID]) VALUES (N'2019. 05. 28. 13:19:15', N'admin@admin.hu', N'Joe', N'Admin', N'2000', N'Bartfai', N'Debrecen', N'5', N'admin@admin.hu', N'DELETED', 50)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([ID], [ProductName], [ProductPrice], [IsAvailable], [ProductDescription], [InStock], [UrlFriendlyName], [Manufacturer], [ProductPictureURL], [Category_Name]) VALUES (2, N'Hungry hippos', 40, 1, N'It is a race, it is a chase, hurry up and feed their face!Who will win? No one knows! Feed the hungry hip-ip-pos!', 5, N'hungry-hippos', N'Hasbro', N'~/images/hungry.jpg', N'Games')
GO
INSERT [dbo].[Products] ([ID], [ProductName], [ProductPrice], [IsAvailable], [ProductDescription], [InStock], [UrlFriendlyName], [Manufacturer], [ProductPictureURL], [Category_Name]) VALUES (3, N'Walkman', 32, 1, N' A portable cassette player that changed listening habits by allowing people to listen to music on the move', 6, N'walkman', N'Sony', N'~/Images/walkman.jpg', N'Tech')
GO
INSERT [dbo].[Products] ([ID], [ProductName], [ProductPrice], [IsAvailable], [ProductDescription], [InStock], [UrlFriendlyName], [Manufacturer], [ProductPictureURL], [Category_Name]) VALUES (4, N'Commodore64', 200, 1, N'The Commodore 64, also known as the C64 or the CBM 64, is an 8-bit home computer', 10, N'commodore64', N'CBM', N'~/Images/Commodore64.jpg', N'Tech')
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[UserDatas] ([UserID], [FirstName], [LastName], [UserName], [Street], [City], [PostCode], [HouseNumber], [UserEmail]) VALUES (N'2b27cc53-63c1-40ee-a6ad-3a3eb0979b71', N'Joe', N'Admin', N'admin@admin.hu', N'József Attila utca', N'Zalaegerszeg', N'8900', N'7', N'admin@admin.hu')
GO
INSERT [dbo].[UserDatas] ([UserID], [FirstName], [LastName], [UserName], [Street], [City], [PostCode], [HouseNumber], [UserEmail]) VALUES (N'584aacc8-e7db-497d-833b-0aa2a397006c', N'Jane', N'User', N'user@user.hu', N'User Street', N'User City', N'200', N'20', N'user@user.hu')
GO
INSERT [dbo].[UserDatas] ([UserID], [FirstName], [LastName], [UserName], [Street], [City], [PostCode], [HouseNumber], [UserEmail]) VALUES (N'a6c5ee73-f332-4d7d-9c66-2d7a17332099', N'Elsonev', N'Masodik', N'felhasz123', N'Angyalfoldi ut', N'Budapest', N'1121', N'12', N'valami@valami.hu')
GO
/****** Object:  Index [IX_Order_ID]    Script Date: 2019. 05. 29. 15:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_Order_ID] ON [dbo].[OrderEntries]
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Category_Name]    Script Date: 2019. 05. 29. 15:44:03 ******/
CREATE NONCLUSTERED INDEX [IX_Category_Name] ON [dbo].[Products]
(
	[Category_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderEntries] ADD  DEFAULT ((0)) FOR [Order_ID]
GO
ALTER TABLE [dbo].[OrderEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderEntries_dbo.Orders_Order_ID] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderEntries] CHECK CONSTRAINT [FK_dbo.OrderEntries_dbo.Orders_Order_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.CategoryNames_Category_Name] FOREIGN KEY([Category_Name])
REFERENCES [dbo].[CategoryNames] ([Category_Name])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.CategoryNames_Category_Name]
GO
USE [master]
GO
