USE [CSharksWebshop.DataModels.WebshopModel]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 14. 15:06:18 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 14. 15:06:18 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [CSharksWebshop.DataModels.WebshopModel]    Script Date: 2019. 05. 14. 15:06:18 ******/
DROP DATABASE [CSharksWebshop.DataModels.WebshopModel]
GO
/****** Object:  Database [CSharksWebshop.DataModels.WebshopModel]    Script Date: 2019. 05. 14. 15:06:18 ******/
CREATE DATABASE [CSharksWebshop.DataModels.WebshopModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSharksWebshop.DataModels.WebshopModel', FILENAME = N'C:\Users\Training\CSharksWebshop.DataModels.WebshopModel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSharksWebshop.DataModels.WebshopModel_log', FILENAME = N'C:\Users\Training\CSharksWebshop.DataModels.WebshopModel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSharksWebshop.DataModels.WebshopModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSharksWebshop.DataModels.WebshopModel]
GO
USE [CSharksWebshop.DataModels.WebshopModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 14. 15:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 14. 15:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [nvarchar](128) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductPrice] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[InStock] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
