@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Fokbudai út 56.<br />
    Pestbuda 1111<br />
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@w56.com">Support@w56.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@w56.com">Marketing@w56.com</a>
</address>