
@using CSharksWebshop.Models
@{
    ViewBag.Title = "ListUsers";
}

<h2>ListUsers</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>

    </tr>

    @foreach (ApplicationUser item in ViewBag.Users as List<ApplicationUser>)
    {

        <tr>
            <td>
                @item.UserName
                </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
