@model CSharksWebshop.Models.CategoryName

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryName</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Category_Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
